.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form {
  max-width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.cards {
  overflow-x: hidden;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(200px, 320px));
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, minmax(200px, 320px));
  }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: minmax(200px, 320px);
  }
}
@media (max-width: 640px) {
  .form {
    flex-direction: column;
    gap: 20px;
  }
}

.noTours {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.noTours p {
  font-size: 24px;
}

.noTours button {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0 34px;
  height: 40px;
  border-radius: 3px;
}
.noTours button:hover {
  filter: brightness(0.9);
  transition: filter 0.2s ease;
}
